a {  
   display: block;  
   border: 1px solid #aaa;  
   text-decoration: none;  
   background-color: #fafafa;  
   color: #123456;  
   margin: 2px;  
   clear:both;  
}  
#button {  
   float:left;  
   text-align: center;  
   margin: 10px;  
}  
#busSelect {  
   width: 350px;   
}

#rightSide {
  float: right;
}   